@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');
                

*{
    margin: 0px auto;
    padding: 0;
   
}
body{
    font-family: "Inter", sans-serif;
    width: 100%;
    margin: 0px auto;  
}

.fitness{
    font-size: 2rem;
    color: #E6533C;
    
}

.fitness-btn{
    width:  80px;
    height: 30px;
    padding: 10px 20px 10px 20px;
    border-radius: 46px ;
    background-color: #E6533C;
    color: white;
    text-align: center;
    align-items: center;    
    margin-top: 1rem;
}


/* navigation bar style */
main{
   background-color: black;
   height: 100%;
   margin: 0px auto;
}
.navigation{
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    padding:30px 100px 50px 100px;
    
   

}

.nav-header{
        font-size: 2.75rem;
        color: #E6533C;
        margin-top: 0.75rem;
        margin-left: -150px ;
}

.nav-list ul{
    display: flex;
    gap: 1.75rem;
    align-items: center;
    margin-left: 80px ;
}

.nav-list >ul > li{
    list-style: none;
    margin-top: 1rem;
    color: white;
}

.nav-list >ul > li > a{
    text-decoration: none;
    color: white;
}

.nav-manu{
    display: none;
}
.menu-ber{
    color: white;
}

.nav-home{
    width:  80px;
    height: 30px;
    padding: 10px 20px 0px 20px;
    border-radius: 46px ;
    background-color: #E6533C;
    color: white;
    text-align: center;
    align-items: center;
    margin-top: 1rem;
}
/* section healthy style */

.health-1{
    width: 1250px;
}

.healthy{
    width: 1200px; 
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    background-image: linear-gradient(rgba(21, 21, 21, 0.947), );
    margin: 0px auto;
}

.healthy-header{
    width: 500px;
    margin-left: 100px;
    margin-top: 50px;
}


.health-head{
    font-size: 60px;
    font-weight: 900;
    color: white;
    line-height: 70px;
}
 .font{
    font-weight: 400;
    font-family: 'Miama', sans-serif; 
 }

 .healthy-description{
    color:rgba(255, 255, 255, 0.5);
    padding-right: 20px;
    
 }

 .btn-1{
    width: 160px;
    height: 55px;
    border-radius: 42px;
    padding: 18px 25px;
    gap:10px;
    border: none;
    text-align: center ;
    color: white;
 }

 .btn-2{
    width: 160px;
    height: 55px;
    border-radius: 42px;
    padding: 18px 25px;
    gap:10px;
    color: white;
    border: 2px solid white;
    background-color: rgba(47, 45, 45, 0.299);
 }
 
 .healthy-img{
    width: 300px;
    height: 500px;
    margin-right: 200px;
    
 }

 .batch-1{
    width: 170px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.162);
    backdrop-filter: blur(10px);
    position: relative;
    top: -380px;
    left: 220px;
    border-radius: 0.75rem;
   border: none;
    align-items: center;
 }

 .batch-1-bold{
    font-size: 2rem;
    font-weight: 900;
    color: white;
 }

 .description{
    color: rgba(239, 237, 232, 0.65);
 }


 .batch-2{
    width: 180px;
    height: 90px;
    background: rgba(48, 48, 48, 0.54); 
    backdrop-filter: blur(10px); 
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -230px;
    right: 170px;
    border-radius: 0.75rem;
    border: none;
  
   
 }

  #vedio{
    display: none;
 } 

 .circul{
    border: 1px solid red;
    width: 35px;
    height: 35px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: 25px;
    left: 15px;
 }

 .batch-2-bold{
    font-size: 18px;
    font-weight: 900;
    color: white;
    line-height: 2.25rem;
    letter-spacing: 0.3px;
    position: relative;
    left: -15px;
 }

 .batch-2-container{
    padding-right: 0.75rem;
    padding-top: 0.75rem;
 }

 .batch-2-description{
    color: rgba(239, 237, 232, 0.65);
 }

 /* habit section */
.habit-1{
     width: 1250px; 
}

 .habit{
    width: 1000px;
    height: 500px;
    margin:0px auto;
 }

 .habit-container{
    width: 650px;
    height: 100px;
    margin:0px auto ;
    margin-top: 70px;
    margin-bottom: 50px;
 }

 .habit-header{
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    align-items: center;

 }

 .habit-description{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    align-items: center;
   
 }

 /* fitness images */

.habit-images{
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    align-items: center;
    justify-content: center;
}



.habit-imgs{
    border-radius: 50%;
    align-items: center;

}

.habit-images-1-title{
    font-size: 1.25rem;
    color: white;
    text-align: center;
    align-items: center;
    margin-right: 35px;
    padding: 25px; 
}

.habit-images-1-description{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
 
/* Running style */
.run-1{
    width: 1250px;
 }
.run{
    width: 1100px;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    gap: 200px;
    border-radius: 1rem;
    background-color: rgb(40, 39, 39);
    margin: 0px auto; 
    align-items: center;
 
}

.run-container{
    margin-left: 80px;
}

.run-title{
    font-size: 3rem;
    color: white;
   
   
}

.run-description{
    color: rgba(255, 255, 255, 0.5);
    padding: 20px 0px;
   
}


.running-img{
    width: 400px;
    height: 300px;
    border-radius: 12px;
    object-fit: none;
    object-position: 66% 28%;
}

.running-btn{
    font-size: 18px;
    width: 200px;
    height: 55px;
    text-align: center ;

} 
/* BMI calculation style */

.bmi-containter{
    width: 650px;
    margin: 50px auto;
}
.bmi-body{
    width: 1250px;
}

.bmi-2{
    width: 1250px;
    height: 450px;
    background-color: rgba(78, 76, 76, 0.322);
}

.bmi-calculator{
   
    display: flex;
    justify-content:space-around;
    gap: 80px;

}

.bmi-table{
  position: relative;
  top:50px;
  left: 100px;
  
}

.bmi-form{
    width: 550px;
    position: relative;
    top: 50px;
    right: 80px;
}

td{
    padding: 16px;
}


.table-head{
    color: white;
    font-size: 18px;
}

.table-data{
    color: rgba(255, 255, 255, 0.5);
   
}

.bmi-form-title{
    font-size: 28px;
    font-weight: 900;
}

.bmi-table-title{
    font-size: 30px;
    margin-bottom: 40px;
}
/* form style */

label{
    display: block;
    
    
}

input{
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    margin-bottom: 10px;
    align-items: left;
    background-color:  rgba(78, 70, 70, 0.432) ;
    border: none;
    font-size: 15px;
}

.input-2{
  padding: 12px 285px 12px 20px ;
}

.down-arow{
    position: relative;
    right: 40px;
}

.form-btn{
    font-size: 18px;
    width: 200px;
    height: 50px;
    border: none;
    text-align: center ;

}

/* "our-team style" */

.our-team-container{
    width: 1250px; 
}

.our-team{
    width: 1100px;
    height: 800px;
    align-items: center;
    text-align: center;
    margin: 30px auto;
}

.team-container{
    width: 650px;
    height: 120px;
    margin: 0px auto;
}
.team-description {
    margin-bottom: 20px;
}

/* team img */

.team-img{
    width: 1050px;
    height: 560px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
   margin-top: 30px;
   background-color: rgb(40, 39, 39);
   padding: 20px ;
   border-radius: 16px;
   margin-left: 8px;
}

.trainer1,
.trainer2,
.trainer3,
.trainer4,
.trainer5,
.trainer6{
    width: 320px;
    height: 270px;
    border-radius: 16px;
    color: rgba(0, 0, 0, 0.2);
}

.trainer4,
.trainer5,
.trainer6{
    position: relative;
    top: -30px;
}

.trainer1-description{
    font-size: 18px;
    color: white;
    line-height: 25px;
    position: relative;
    top: -80px;
    right: 80px;
}

.trainers-name{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}

.trainer2-description{
    position: relative;
    right: 60px;
}

.trainer4-description,
.trainer5-description,
.trainer6-description{
    position: relative;
    top: -120px;
}

.span-name-1{
    position: relative;
    right: 23px;
}

.span-name-2{
    position: relative;
    right: 60px;
}

.span-name-3{
    position: relative;
    right: 40px;
}

.span-name-4{
    position: relative;
    right: 35px;
}

.span-name-5{
    position: relative;
    right: 23px;
}

.span-name-6{
    position: relative;
    right: 35px;
}
/* footer style */

.footer{
    width: 1250px;
    height: 450px;
    background-color: rgb(40, 39, 39);
}

.footer-container{
    width: 1000px;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px auto;
    gap: 70px;
    padding-top: 80px;
    padding-left: 50px;
}

.footer-fitness-title{
    font-size: 60px;
    font-weight: 900;
    line-height:  80px;
    letter-spacing: 0.5px;
    margin-top: 0px;
    margin-left: 0px; 
}

.footer-fitness-description{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.footer-sevice-title, .footer-platform-title{
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
   margin-top: 20px;
}

.footer-service-description, .footer-platform-list  {
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
}

.footer-service-description> li, .footer-platform-list > li  {
    list-style: none;
}

hr{
    width: 1000px;
    margin: 0px auto;
    color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1) ; 
}

.footer-description{
    width: 400px; 
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    line-height: 20px;
    letter-spacing: 0.3px;
    
}


@media screen and (max-width:576px){
*{
    padding: 0px;
    margin: 0px auto;
}

main{
    width: 100%;
    background-color: black;
    height: 100%;
 }
  /* nav style */
    .navigation{
       width: calc(100% - 40px);
       margin-left: 20px;
       padding: 5px 0px;
       gap: 50%;
       flex-direction: row;
     
}

.nav-head{
    margin: 0px;
}

.nav-header{
    margin-left: 0px;
}

.nav-list{
    display: none;
}

.nav-manu{
    margin: 25px 0px 10px 0px;
} 

.menu-ber{
    color: white;
    
}
.nav-manu{
     display: block; 
} 

.menu-ber > ul{
    font-size: 16px;
} 

 .menu-ber > ul> li{
    list-style: none;
} 
 .menu-ber > ul> li >a{
    text-decoration: none;
    color: white;
    line-height: 40px;
    letter-spacing: 1px;
}   

.menu-ber .menu-list{
    display: none; 
} 




.nav-home{
    align-items: center;
    position: relative;
    right: 10px;
    
}

.navhome{
    position: relative;
    top: -10px;
}

/* heathy style */

.healthy{
    flex-direction: column;
    width: 100%;
   
}


.healthy-head{
    font-size: 35px;
    font-weight: bold;
    margin: 15px;

}
.healthy-header{
    margin-left: 20px;
    width: calc(100% - 20px);
}

.healthy-description{
    width: 250px;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin: 0px;
}
.health-button{
    width: 400px;
    margin: 0px auto;
   gap: 50px;
}



.healthy-img{
    width: 250px;
    height: 500px;
    margin: 0px auto;
    background-size: cover;
    align-items: center;
    margin-bottom: 0px;
   

}
/* batch style */

.batch-1{
    width: 150px;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.162);
    backdrop-filter: blur(10px);
    position: relative;
    top: -450px;
    left: 175px;
    border-radius: 10px;
   border: none;
    align-items: center;
   padding: 0px 5px 8px 5px;
 }

 .batch-1-bold{
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
 }

 .description{
    color: rgba(239, 237, 232, 0.65);
    font-size: 0.75rem;
 }

 .batch-2{
    width: 170px;
    height: 80px;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    background: rgba(48, 48, 48, 0.54); 
    backdrop-filter: blur(10px); 
    position: relative;
    top: -360px;
    right: 40px;
    border-radius: 10px;
    border: none;

}

.circul{
    border: 1px solid red;
    width: 35px;
    height: 35px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: 20px;
    left: 15px;
    margin-left: 8px;
 }
  

 /* habit container */
 .habit-1{
    width: 400px;
    
} 
.habit{
    width: calc(100% - 20px);
    height: 1500px;
    margin:0px 0px 10px 5px;
}
.habit-container{
    width: 350px;
    height: 120px;
    margin: 10px 0px 10px 30px;
 }

.habit-header{
     font-size: 30px;
     padding-bottom: 10px;

 }

.habit-description{
    font-size: 16px;
}

.habit-images{
    width: 0px;
    height: 1300px;
    margin: 5px 0px 5px 200px;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
   
}

.habit-images-1-title{
  margin-right: 0px;
}

/* Running style */

.run-1{
    max-width: 420px;
    margin: 0px auto;
 }
.run{
    width: 370px;
    height: 500px ;
    display: flex;
    flex-direction: column;
    gap:0px;
    justify-content: space-around;
    padding:0px auto;
    margin: 20px 0px 10px 27px ;
    
}


.run-container{
    width: 300px;
    margin:0px auto;
}

.run-title{
    font-size: 2.25rem;
    margin: 0px;
}
.run-description{
    font-size: 14px;
    padding: 10px 0px;
}

.running-btn{
    width: 280px;
    height: 50px;
    font-size: 16px;
}

.running-img{
    width: 300px;
    height: 200px;
    background-size: cover;
    align-items: center;
    margin-bottom: 0px;
    object-position: none;
    object-fit: cover;

} 

/* bmi calculator */

/* .bmi{
    max-width: 100%;
} */
.bmi-containter{
    width: 380px;
    margin: 0px auto;
}
.bmi-body{
    width: 360px;
    margin: 0px auto ;
    position: relative;
    right: 10px;
}

.bmi-2{
    width: calc(100% - 10px);
    height: 620px;
    background-color: rgba(78, 76, 76, 0.322);
}

.bmi-calculator{
   width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap: 10px;

}

.bmi-table{
    width: 250px;
    position: relative;
    top: 10px;     
    left: -65px;
    margin-bottom: 10px;
}

table{
    margin: 0px;
}

.bmi-form{
    width: 380px;
    position: relative;
    top: 5px;
    left: -5px;
   
}


td{
    padding: 10px;
}


.table-head{
    color: white;
    font-size: 12px;
}

.table-data{
    color: rgba(255, 255, 255, 0.5);
   
}

.bmi-form-title{
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 5px;
}
.bmi-form-description{
    margin: 15px 15px 15px 0px;
}

.bmi-table-title{
    font-size: 18px;
    margin-bottom: 20px;
}
/* form style */

label{
    display: block;
    
    
}

input{
    padding: 10px 0px 10px 5px;
    border-radius: 8px;
    margin-bottom: 10px;
    align-items: center;
    background-color:  rgba(78, 70, 70, 0.432) ;
    border: none;
    font-size: 15px;
}

.input-2{
  padding: 10px 190px 10px 8px ;
  position: relative;
  top: -20px;
}

.down-arow{
    position: relative;
    left: 350px;
    top: -60px;
}

.arow-1{
    position: relative;
    top: -40px;
}

.form-btn{
    font-size: 18px;
    width: 200px;
    height: 50px;
    border: none;
    text-align: center ;
    position: relative;
    top: -40px;

} 

/* "our-team style" */
.our-team-container{
    width: 420px;

}
.our-team{
    width: 350px;
    height: 1400px;
    align-items: center;
    text-align: center;
    margin: 30px auto;
}

.team-container{
    width: 300px;
    height: 120px;
    margin: 0px auto;
}
 .team-title{
    font-size: 25px;
    font-weight: 900;
 }

 .team-description{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
 }

 /* team img */

.team-img{
    width: 320px;
    height: 1180px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
   margin-top: 10px;
   margin-left: 8px;
   background-color: rgb(40, 39, 39);
   padding: 10px ;
   border-radius: 16px;
}

.trainer1,
.trainer2,
.trainer3,
.trainer4,
.trainer5,
.trainer6{
    width: 320px;
    height: 270px;
    border-radius: 16px;
    color: rgba(0, 0, 0, 0.2);
}

/* .trainer4,
.trainer5,
.trainer6{
    position: relative;
    top: -30px;
} */

.trainer1-description{
    font-size: 18px;
    color: white;
    line-height: 25px;
    position: relative;
    top: -80px;
    right: 80px;
}

.trainers-name{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}

.trainer2-description{
    position: relative;
    right: 60px;
}

.trainer4-description,
.trainer5-description,
.trainer6-description{
    position: relative;
    top: -120px;
}

.trainer1,
.trainer4{
    display: none;
}

.trainer-description,
.trainer4-description{
    display: none;
}
.team-2{
    height: 300px;
}

/* footer style */

.footer{
    width: 100%;
    height: 800px;
    background-color: rgb(40, 39, 39);
    margin: 0px;
}

.footer-container{
    width: 380px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0px;
    gap: 10px;
    padding-top: 10px;
    padding-left: 20px;
}

.footer-fitness-title{
    font-size: 60px;
    font-weight: 900;
    line-height:  80px;
    letter-spacing: 0.5px;
    margin-top: 0px;
    
}

.footer-service, .footer-platform{
    margin: 0px;
}

.footer-fitness-description{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.footer-sevice-title, .footer-platform-title{
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
   margin-top: 20px;
}

.footer-service-description, .footer-platform-list  {
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
}

.footer-service-description> li, .footer-platform-list > li  {
    list-style: none;
}

hr{
    width: calc(100% - 20px);
    margin: 0px 10px 0px 10px;
    color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1) ; 
}

.footer-description{
    width: 380px;
    margin-left: 20px;
    margin-top: 20px;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    line-height: 20px;
    letter-spacing: 0.3px;
    
}


}