@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
   
}
body{
    font-family: "Inter", sans-serif;
    width: 100%;
}

.fitness{
    font-size: 2rem;
    color: #E6533C;
    
}

.fitness-btn{
    width:  80px;
    height: 30px;
    padding: 10px 20px 10px 20px;
    border-radius: 46px ;
    background-color: #E6533C;
    color: white;
    text-align: center;
    align-items: center;    
    margin-top: 1rem;
}


/* navigation bar style */
main{
   background-color: black;
   height: 100%;
}
.navigation{

    width: 1000px;
    display: flex;
    justify-content: space-between;
    padding:30px 100px 50px 100px;
    
   

}

.nav-header{
        font-size: 2rem;
        color: #E6533C;
        margin-top: 0.75rem;
        
}


.nav-list ul{
    display: flex;
    gap: 1.50rem;
    align-items: center;
}

.nav-list >ul > li{
    list-style: none;
    margin-top: 1rem;
    color: white;
}

.nav-home{
    width:  80px;
    height: 30px;
    padding: 10px 20px 0px 20px;
    border-radius: 46px ;
    background-color: #E6533C;
    color: white;
    text-align: center;
    align-items: center;
    margin-top: 1rem;
}
/* section healthy style */


.healthy{
    width: 1100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    background-image: linear-gradient(rgba(21, 21, 21, 0.947), );
}

.healthy-header{
    width: 500px;
    margin-left: 100px;
    margin-top: 50px;
}


.health-head{
    font-size: 60px;
    font-weight: 900;
    color: white;
}
 .font{
    font-weight: 400;
    font-family: "Dancing Script", cursive;
 }

 .healthy-description{
    color:rgba(255, 255, 255, 0.5);
    padding-right: 20px;
    
 }

 .btn-1{
    width: 150px;
    height: 50px;
    border-radius: 42px;
    padding: 18px 25px;
    gap:10px;
    border: none;
    color: white;
 }

 .btn-2{
    width: 150px;
    height: 50px;
    border-radius: 42px;
    padding: 18px 25px;
    gap:10px;
    color: white;
    border: 2px solid white;
    background-color: rgba(47, 45, 45, 0.299);
 }
 
 .healthy-img{
    width: 300px;
   height: 500px;
    /* position: relative;
    left: 40px;
    bottom: 60px; */
    /* background-size: cover; */
 }

 .batch-1{
    width: 170px;
    height: 90px;
    background-color: rgba(201, 198, 198, 0.374);
    position: relative;
    top: -380px;
    left: 220px;
    border-radius: 1.5rem;
   border: none;
    align-items: center;
 }

 .batch-1-bold{
    font-size: 2rem;
    font-weight: 900;
    color: white;
 }

 .description{
    color: rgba(239, 237, 232, 0.65);
 }


 .batch-2{
    width: 180px;
    height: 90px;
    background-color: rgba(48, 48, 48, 0.54);
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    background-color:rgba(69, 69, 68, 0.65);
    position: relative;
    top: -230px;
    right: 80px;
    border-radius: 1.5rem;
    border: none;
   
   
 }

  #vedio{
    display: none;
 } 

 .circul{
    border: 1px solid red;
    width: 35px;
    height: 35px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: 25px;
 }

 .batch-2-bold{
    font-size: 1.5rem;
    font-weight: 900;
    color: white;

 }

 .batch-2-container{
    padding-right: 0.75rem;
    padding-top: 0.75rem;
 }

 .batch-2-description{
    color: rgba(239, 237, 232, 0.65);
 }

 /* habit section */
.habit-1{
    width: 1250px;
}

 .habit{
    width: 1000px;
    height: 500px;
    margin:0px auto;
 }

 .habit-container{
    width: 650px;
    height: 100px;
    margin:0px auto ;
    margin-top: 70px;
    margin-bottom: 50px;
 }

 .habit-header{
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    align-items: center;

 }

 .habit-description{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    align-items: center;
   
 }

 /* fitness images */

.habit-images{
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    align-items: center;
    justify-content: center;
}



.habit-imgs{
    border-radius: 50%;
    align-items: center;

}

.habit-images-1-title{
    font-size: 1.25rem;
    color: white;
    text-align: center;
    align-items: center;
    margin-right: 35px;
    padding: 25px; 
}

.habit-images-1-description{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
 
/* Running style */
.run-1{
    width: 1250px;
 }
.run{
    width: 1100px;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* display: flex; */
    justify-content: space-around;
    gap: 200px;
    border-radius: 1rem;
    background-color: rgb(40, 39, 39);
    margin: 0px auto; 
    align-items: center;
 
}

.run-container{
    margin-left: 80px;
}

.run-title{
    font-size: 3rem;
    color: white;
   
   
}

.run-description{
    color: rgba(255, 255, 255, 0.5);
    padding: 20px 0px;
   
}


.running-img{
    width: 400px;
    height: 300px;
    border-radius: 12px;
}

.running-btn{
    font-size: 18px;
    width: 200px;
    height: 50px;

}
/* BMI calculation style */

.bmi-containter{
    width: 650px;
    margin: 50px auto;
}
.bmi-body{
    width: 1250px;
}

.bmi-2{
    width: 1260px;
    height: 450px;
    background-color: rgba(78, 76, 76, 0.322);
}

.bmi-calculator{
   
    display: flex;
    justify-content:space-between;
    gap: 80px;

}

.bmi-table{
  position: relative;
  top:50px;
  left: 100px;
  
}

.bmi-form{
    width: 550px;
    position: relative;
    top: 50px;
    right: 80px;
}

td{
    padding: 16px;
}


.table-head{
    color: white;
    font-size: 18px;
}

.table-data{
    color: rgba(255, 255, 255, 0.5);
   
}

.bmi-form-title{
    font-size: 28px;
    font-weight: 900;
}

.bmi-table-title{
    font-size: 30px;
    margin-bottom: 40px;
}
/* form style */

label{
    display: block;
    
    
}

input{
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    margin-bottom: 10px;
    align-items: left;
    background-color:  rgba(78, 70, 70, 0.432) ;
    border: none;
    font-size: 15px;
}

.input-2{
  padding: 12px 285px 12px 20px ;
}

.down-arow{
    position: relative;
    right: 40px;
}

.form-btn{
    font-size: 18px;
    width: 200px;
    height: 50px;
    border: none;
    text-align: center ;

}

/* "our-team style" */

.our-team{
    width: 1050px;
    height: 780px;
    align-items: center;
    text-align: center;
    margin: 30px auto;
}

.team-container{
    width: 650px;
    height: 120px;
    margin: 0px auto;
}
.team-description {
    margin-bottom: 20px;
}

/* team img */

.team-img{
    width: 1050px;
    height: 560px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
   margin-top: 30px;
   background-color: rgb(40, 39, 39);
   padding: 20px ;
}

.trainer1,
.trainer2,
.trainer3,
.trainer4,
.trainer5,
.trainer6{
    width: 320px;
    height: 270px;
    border-radius: 16px;
    color: rgba(0, 0, 0, 0.2);
}

.trainer4,
.trainer5,
.trainer6{
    position: relative;
    top: -30px;
}

.trainer1-description{
    font-size: 18px;
    color: white;
    line-height: 25px;
    position: relative;
    top: -80px;
    right: 80px;
}

.trainers-name{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}

.trainer2-description{
    position: relative;
    right: 60px;
}

.trainer4-description,
.trainer5-description,
.trainer6-description{
    position: relative;
    top: -120px;
}


@media screen and (max-width:576px){
*{
    padding: 0px;
    margin: 0px;
}

main{
    background-color: black;
    height: 100%;
 }
  /* nav style */
    .navigation{
       width: calc(100% - 20px);
       margin-left:20px;
       padding: 5px 0px;
       gap:10px;
       flex-direction: column-reverse;
}
  
/* heathy style */

.healthy{
    flex-direction: column;
    width: 100%;
   
}


.healthy-head{
    font-size: 35px;
    font-weight: bold;
    margin: 15px;

}
.healthy-header{
    margin-left: 20px;
    width: calc(100% - 20px);
}

.healthy-description{
    width: 250px;
}



.healthy-img{
    width: 250px;
    height: 500px;
    margin: 0px auto;
    background-size: cover;
    align-items: center;
    margin-bottom: 0px;
   

}
/* batch style */

.batch-1{
    width: 120px;
    height: 75px;
    background-color: rgba(201, 198, 198, 0.374);
    position: relative;
    top: -450px;
    left: 190px;
    border-radius: 1rem;
   border: none;
    align-items: center;
   padding: 0px 5px 8px 5px;
 }

 .batch-1-bold{
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
 }

 .description{
    color: rgba(239, 237, 232, 0.65);
    font-size: 0.75rem;
 }

 .batch-2{
    width: 170px;
    height: 80px;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    background-color:rgba(69, 69, 68, 0.65);
    position: relative;
    top: -360px;
    right: 40px;
    border-radius: 12px;
    border: none;

}

.circul{
    border: 1px solid red;
    width: 35px;
    height: 35px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: 20px;
    margin-left: 8px;
 }
  

 /* habit container */
 .habit-1{
    width: 350px;
} 
.habit{
    width: 100%;
    height: 1500px;
    margin:0px 0px 10px 5px;
}
.habit-container{
    width: 350px;
    height: 120px;
    margin: 10px 0px 10px 30px;
 }

.habit-header{
     font-size: 30px;
     padding-bottom: 10px;

 }

.habit-description{
    font-size: 16px;
}

.habit-images{
    width: 0px;
    height: 1300px;
    margin: 5px 0px 5px 200px;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
   
}

.habit-images-1-title{
  margin-right: 0px;
}

/* Running style */

.run-1{
    width: 350px;
 }
.run{
    width: 370px;
    height: 500px ;
    display: flex;
    flex-direction: column;
    gap:0px;
    justify-content: space-around;
    padding:0px auto;
    margin: 20px 0px 10px 27px ;
    
}


.run-container{
    width: 300px;
    margin-left:0px;
}

.run-title{
    font-size: 2.25rem;
    margin: 0px;
}
.run-description{
    font-size: 14px;
    padding: 10px 0px;
}

.running-btn{
    width: 280px;
    height: 50px;
    font-size: 16px;
}

.running-img{
    width: 300px;
    height: 200px;
    background-size: cover;
    align-items: center;
    margin-bottom: 0px;
   
}

/* bmi calculator */


.bmi-containter{
    width: 350px;
    margin: 30px auto;
}
.bmi-body{
    width: 350px;
    margin: 30px 0px 30px 30px ;
}

.bmi-2{
    width: 420px;
    height: 620px;
    background-color: rgba(78, 76, 76, 0.322);
}

.bmi-calculator{
   width: 380px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap: 10px;

}

.bmi-table{
  position: relative;
  top:10px;
  left: 30px;
  margin-bottom: 20px ;
}

.bmi-form{
    width: 380px;
    position: relative;
    top: 5px;
    left: 30px;
   
}


td{
    padding: 10px;
}


.table-head{
    color: white;
    font-size: 12px;
}

.table-data{
    color: rgba(255, 255, 255, 0.5);
   
}

.bmi-form-title{
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 5px;
}
.bmi-form-description{
    margin: 15px 15px 15px 0px;
}

.bmi-table-title{
    font-size: 18px;
    margin-bottom: 20px;
}
/* form style */

label{
    display: block;
    
    
}

input{
    padding: 10px 0px 10px 5px;
    border-radius: 8px;
    margin-bottom: 10px;
    align-items: center;
    background-color:  rgba(78, 70, 70, 0.432) ;
    border: none;
    font-size: 15px;
}

.input-2{
  padding: 10px 190px 10px 8px ;
  position: relative;
  top: -20px;
}

.down-arow{
    position: relative;
    left: 350px;
    top: -60px;
}

.arow-1{
    position: relative;
    top: -40px;
}

.form-btn{
    font-size: 18px;
    width: 200px;
    height: 50px;
    border: none;
    text-align: center ;
    position: relative;
    top: -40px;

} 

/* "our-team style" */

.our-team{
    width: 350px;
    height: 1400px;
    align-items: center;
    text-align: center;
    margin: 30px auto;
}

.team-container{
    width: 300px;
    height: 120px;
    margin: 0px auto;
}
 .team-title{
    font-size: 25px;
    font-weight: 900;
 }

 .team-description{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
 }

 /* team img */

.team-img{
    width: 320px;
    height: 1180px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
   margin-top: 10px;
   margin-left: 5px;
   background-color: rgb(40, 39, 39);
   padding: 10px ;
   border-radius: 16px;
}

.trainer1,
.trainer2,
.trainer3,
.trainer4,
.trainer5,
.trainer6{
    width: 320px;
    height: 270px;
    border-radius: 16px;
    color: rgba(0, 0, 0, 0.2);
}

/* .trainer4,
.trainer5,
.trainer6{
    position: relative;
    top: -30px;
} */

.trainer1-description{
    font-size: 18px;
    color: white;
    line-height: 25px;
    position: relative;
    top: -80px;
    right: 80px;
}

.trainers-name{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}

.trainer2-description{
    position: relative;
    right: 60px;
}

.trainer4-description,
.trainer5-description,
.trainer6-description{
    position: relative;
    top: -120px;
}

.trainer1,
.trainer4{
    display: none;
}

.trainer-description,
.trainer4-description{
    display: none;
}
.team-2{
    height: 300px;
}




}